@import "../../variables";

.TitleContainer {
    color: map-get($colors, main);
    /* width: 400px; */
    margin:  20 auto;
    display: inline-block;
}

.Title {
    font-size: 2.5em;
    border-bottom: 0.1px solid map-get($colors,border);
    margin-bottom: 0;
}