@import '../../../../variables';


.Space {
    height: 1000px;
}

.Iframe {
    width: 1000px;
}

.Content {
    margin: 0 auto;
    max-width: 1000px;
    padding-bottom: 60px;
}

.Title {
    font-size: 3em;
    text-align: center;
    margin-top: 60px;
    color: map-get($map: $colors, $key: fifth);
}
.Text {
    font-size: 1.2em;
    text-align: left;
    color: map-get($map: $colors, $key: fifth);
}