@import "../../variables";

.Nav {
 display: none;
}


/* Mobile */
@media (max-width:949px){
    .Nav {
        display: block;
    }

    //Hamburger styles
    .NavMobileToggle span
    {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: map-get($map: $colors, $key: third);
    border-radius: 3px;
    z-index: 1000;    
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
    }

    .NavMobileToggleWrapper{
        background-color: rgba(68, 67, 67, 0.5);
        padding: 30px;
        z-index: 1001;
        position: fixed;
        top: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .NavMobileToggleWrapperHide {
        display: none;
    }

    .ExitMenu {
        color: map-get($map: $colors, $key: third);
        padding: 20px;
        padding-right: 30px;
        z-index: 1010;
        position: fixed;
        top: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 44px;
        font-weight: bold;
    }

    .ExitMenuHide {
        display: none;
    }

    .hideNav {
        display: block;
        position: fixed;
        top: 0;
        left: -100vw;
        width: 100vw;
        height: 100vh;
        background-color: rgba(68, 67, 67, 0.5);
        transition: linear 0.3s;
    }

    .showNav {
        z-index: 1000;
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(68, 67, 67, 0.5);
        transition: linear 0.3s;
    }

    .NavMobileMenu {
        display: flex;
        flex-direction: column;
        margin-top: 80px;
    }

    .NavMobileMenu div {
        border-top: 2px solid white;
        padding: 20px;
        font-size: 30px;
        font-weight: bold;
        color: white;
    }
}