@import "../../variables";

.ProjectsContainer {
    width: 80%;
    margin: 20px auto;
}

.TitleContainer {
    color: map-get($map: $colors, $key: main );
    /* width: 400px; */
    margin:  20 auto;
    display: inline-block;
}

.Title {
    font-size: 2.5em;
    border-bottom: 0.1px solid map-get($map: $colors, $key: border );
    margin-bottom: 0;
}

@media(min-width: 800) {
    .ProjectsContainer {
        width: 100%;
    }
}