@import "../../variables";

.ImageContainer {
    background: {
        image: url('../../assests/header-placement.jpg');
        position: center;
        repeat: no-repeat;
        size: 100vw;
    };
    height: 528px;
    width:100%;
    position: relative;
    filter: grayscale(50%)
}


.TitleContainer {
    /* color: #35637c; */
    padding-top: 100px;
    /* width: 400px; */
    margin: auto;
    display: inline-block;
}

.Name {
    color: map-get($map: $colors, $key: fourth);
    border-bottom: 0.1px solid map-get($map: $colors, $key: border );
    margin-bottom: 8px;
    font-size: 4em;
}

.Position {
    color: map-get($map: $colors, $key: third);
    margin-top: 8px;
}