@import "../../variables";

.ImageContainer {
    background: {
        color: map-get($map:$colors , $key: third );
        position: center;
        repeat: no-repeat;
    };
    height: 100vh;
    width: 100vw;
    position: relative;
}

.TreeContainer {
    position: absolute;
    right: 0;
    z-index: 100;
}

.TitleContainer {
    /* color: #35637c; */
    padding-top: 100px;
    /* width: 400px; */
    margin: auto;
    display: inline-block;
    z-index: 200;
    position: relative;
}

.Intro {
    color: map-get($map: $colors, $key: fourth);
    font-size: 4em;
    margin-bottom: 0em;
}

.Name {
    color: map-get($map: $colors, $key: fourth);
    margin-top: 0em;
    font-size: 6em;
}

.Position {
    color: map-get($map: $colors, $key: third);
    margin-top: 8px;
}