.Button {
    font-weight: bold;
    font-size: 18px;
    border: 1px solid #35637c;
    border-radius: 4px;
    padding: 10px;
    color: #35637c;
    margin: 10px;
    width: 100px;
    margin-bottom: 2px;
}

.Button a {
    color:inherit;
    text-decoration: none;
}

.Button a:link {
    color: black;
}