@import "../../variables.scss";

.AboutMeContainer {
    color: map-get($colors, main);
    margin: 0;
    width: 100%;
    padding:0;
}

.AboutMeContainer p {
    text-align: left;
    display: inline-block;
}

.TitleContainer {
    color: map-get($colors, main);
    /* width: 400px; */
    margin:  20 auto;
    display: inline-block;
}

.AboutMe {
    font-size: 2.5em;
    border-bottom: 0.1px solid map-get($colors , border);
    display: inline-block;
    font-family: inherit;
}

.Center {
    margin:0 auto;
}

.BodyContainer {
    margin: 0 auto;
    max-width: 1000px;

}

.ImageContainer {
    display: inline-block;
    // width: 25%;
    // min-width: 200px;
    // max-width: 300px;
    vertical-align: middle;
    padding-left: 40px;
   
}

.ImageProfile {
    width:100%;
    border-radius: 12px;
    border: 0.5px solid map-get($colors , border);
    max-width: 200px;
    /* box-shadow: 2px 2px 2px 3px #636363 */
}

.ImageContentContainer {
    max-width: 200px;
}

.ImageTitle {
margin: 8px auto;
font-family: inherit;
}

.ImageContent {
margin: 0 auto;
}

.ContentContainer {
    display: inline-block;
    width: 65%;
    vertical-align: top;

}

.ContentContainer li {
    display: inline-block;
}

.IconHeader {
    width: 100px;
    height: 100px;
}

.SectonContainer {
    display: inline-block;
    min-width: 260px;
    padding: 20px;
}

.SectionContent {
    margin: auto;
    padding:0;
    display: block;
}
.SectionContent li {
    margin: auto;
    padding:0;
    display: block;
}

.IconContainer {
    margin: auto;
    display: block;
    // border-bottom: map-get($colors , border) solid 2px;
    margin: auto;
    padding: 8px 0;
}

.Icons {
    display: inline-block;
    width: 25px;
    padding: 5px 10px;
}

@media (max-width:949px){
    .BodyContainer {
        width: 100%; 
    }
    .ContentContainer {
        display: block;
        width:100%;
        max-width: 610px;
        margin: 0 auto;
    }
    .ImageContentContainer {
        display: inline-block;
        padding: 20px 20px 20px 40px;
        width: 300px;
        vertical-align: middle;
    }
    .ImageProfile {
       display: inline-block;
       vertical-align: middle;
    }
    .ImageContainer {
        padding-left: 0;
    }
    .ImageDiv {
        display: inline-block;
    }
    .SectonContainer {
        margin: 0 auto;
    }
}