@import '../../variables';

.Container {
    width: 100%;
    position: relative;
    // top: -80px;
    

    .Break {
        position: relative;
        width: 100%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: auto 1fr auto;
        height: 160px;
        margin-bottom: 80px;
        
        .Title {
            margin: 0;
            color: map-get($map: $colors, $key: fourth);
            font-size: 3em;
            background-color: map-get($map: $colors, $key: third);
            line-height: 160px;
            
    }

        .Right {
            border-bottom: 160px solid transparent;
            border-left: 161px solid map-get($map: $colors, $key: third);
            // border-top: 160px solid transparent;
            // border-left: 160px solid map-get($map: $colors, $key: third);

        }
    
        .Left {
            // border-bottom: 160px solid transparent;
            // border-right: 160px solid map-get($map: $colors, $key: third);
            border-top: 161px solid transparent;
            border-right: 160px solid map-get($map: $colors, $key: third);
        }
    }

    .Content {
        width: 100%;

        .TextOuter {
            padding-left: 20px;
            padding-right: 20px;
            margin: 0;
            margin-top: 20px;
            font-size: 2em;
            color: map-get($map: $colors, $key: seven);
            margin-bottom: 10px;

            @media(min-width: 1024px) {
                display: none;
            }
            

        }

    .Section {
        // display: flex;
        // flex-wrap: wrap;
        // align-items: stretch;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
        // border-bottom: 5px solid map-get($map: $colors, $key: third);

        margin-bottom: 60px;

        @media (min-width: 1024px) {
            margin-bottom: 0;
        }

        .Image {
            // flex: 0 1 auto;
            width: 100%;
            height: auto;
            vertical-align: middle;
            display: grid;
            place-items: center;
            
            
            // @media (min-width:1024px) {
            //     width: 50%;
            // }
    
            img {
                padding: 20px;
                height:auto;
                max-width: 100%;
                box-sizing: border-box;
            }
        }


        .Text{
            width: 100%;
            color: map-get($map: $colors, $key: fifth);
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            height: 100%;

            .TextInner {
                padding-left: 20px;
                padding-right: 20px;
                margin: 0;
                margin-top: 20px;
                font-size: 2em;
                color: map-get($map: $colors, $key: seven);
                display: none;
                @media(min-width: 1024px) {
                    display: block;
                }

            }
            .Describe {
                padding: 20px;
            }

            .Skills {
                padding: 20px;
            }

            .Visit {
                text-decoration: underline;
                color: map-get($map: $colors, $key: third);
                margin-bottom: 40px;

                a, a:active {
                    color: inherit;
                }
            }

        }

    }


    }
}

.Modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 144, 158,0.8);
    display: grid;
    place-items: center;
    z-index: 10;
    transition: all 0.3s ease-out;

    .Joke {
        padding: 20px;
        font-size: 4em;
        color: map-get($map: $colors, $key: fourth);
    }

    .Close {
        padding: 15px;
        font-size: 2em;
        color: map-get($map: $colors, $key: fourth);
        border: 1px solid map-get($map: $colors, $key: fourth);;
    }

    .Close:hover {
        cursor: pointer;
        background-color: map-get($map: $colors, $key: fourth);
        color: map-get($map: $colors, $key: third);
        border: 1px solid map-get($map: $colors, $key: fourth);;
    }
}

.Hide {
    opacity: 0;
    left: -100%;
}
.Show {
    opacity: 1;
    left: 0;
}


.Normal {
    grid-row: 1; /* NEW */
    @media (min-width:1024px){
        grid-row: 2; /* NEW */
    }
}
.Reverse {
    grid-row: 2; /* NEW */
    @media (min-width:1024px){
        grid-row: 1; /* NEW */
    }
  }
