@import '../../variables';

.Container {
    width: 100%;
    position: relative;
    // top:-80px;

    .Title {
        margin: 0;
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 3em;
        width: 100%;
        color: map-get($map: $colors, $key: fifth);
        border-top: 10px solid map-get($map: $colors, $key: third);
        border-bottom: 10px solid map-get($map: $colors, $key: third);
        margin-bottom: 80px;
    }

    .Content {
        width: 100%;

    .Section {
        // display: flex;
        // flex-wrap: wrap;
        // align-items: stretch;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));

        .Image {
            // flex: 0 1 auto;
            width: 100%;
            height: auto;
            vertical-align: middle;
            
            // @media (min-width:1024px) {
            //     width: 50%;
            // }
    
            img {
                height: 100%;
                width: 100%;
            }
        }


        .Text{
            width: 100%;
            color: map-get($map: $colors, $key: fifth);
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            height: 100%;

            h3 {
                padding-left: 20px;
                padding-right: 20px;
                margin: 0;
                margin-top: 20px;
                font-size: 2em;
                color: map-get($map: $colors, $key: seven);

            }
            .Describe {
                padding: 40px;
            }

            .Skills {
                padding: 40px;
            }

            .Visit {
                text-decoration: underline;
                color: map-get($map: $colors, $key: third);
                margin-bottom: 40px;

                a, a:active {
                    color: inherit;
                }
            }

        }

    }


    }
}

.Modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 144, 158,0.8);
    display: grid;
    place-items: center;
    z-index: 10;
    transition: all 0.3s ease-out;

    .Joke {
        padding: 20px;
        font-size: 4em;
        color: map-get($map: $colors, $key: fourth);
    }

    .Close {
        padding: 15px;
        font-size: 2em;
        color: map-get($map: $colors, $key: fourth);
        border: 1px solid map-get($map: $colors, $key: fourth);;
    }

    .Close:hover {
        cursor: pointer;
        background-color: map-get($map: $colors, $key: fourth);
        color: map-get($map: $colors, $key: third);
        border: 1px solid map-get($map: $colors, $key: fourth);;
    }
}

.Hide {
    opacity: 0;
    left: -100vw;
}
.Show {
    opacity: 1;
    left: 0;
}

.Reverse {
    grid-row: 2; /* NEW */
    @media (min-width:1024px){
        grid-row: 1; /* NEW */
    }
  }
